version: '3.8'

services:
  frontend:
    build: ./MilitaryServicesFrontend
    image: vue-frontend
    container_name: frontend
    ports:
      - "443:443"
    depends_on:
      - backend

  backend:
    build: ./MilitaryServicesBackend
    container_name: backend
    image: spring-boot-backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/militaryServices
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=create
      - SPRING_JPA_PROPERTIES_HIBERNATE_DEFAULT_SCHEMA=ms
      - SPRING_JPA_PROPERTIES_HIBERNATE_HBM2DDL_CREATE_NAMESPACES=true
      - SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_DB: militaryServices
      POSTGRES_USER: postgres 
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d militaryServices"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

volumes:
  pgdata:
